<%- include('header'); -%>
  <div class="content">
      <table>
          <tr>
            <th>name</th>
            <th>address</th>
            <th>phone</th>
            <th>email</th>
          </tr>  
        </table> 
  </div>
  <br>
<%- include('footer'); -%>